src/main/mule/tgif-mobilepos-impl.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:module-logger="http://www.mulesoft.org/schema/mule/module-logger"
	xmlns:error-handler-plugin="http://www.mulesoft.org/schema/mule/error-handler-plugin"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/error-handler-plugin http://www.mulesoft.org/schema/mule/error-handler-plugin/current/mule-error-handler-plugin.xsd
http://www.mulesoft.org/schema/mule/module-logger http://www.mulesoft.org/schema/mule/module-logger/current/mule-module-logger.xsd">
	<flow name="ms-heartbeat-flow"
		doc:id="075f2d62-90a3-4246-80e6-519f938ff54c">
		<set-variable value="#[now()]" doc:name="startTime"
			doc:id="c4befc5f-78c2-4260-aae7-99d6574c36a8"
			variableName="startTime" />
		<module-logger:console-logging
			doc:name="Start" doc:id="32f02a59-3bd4-4997-b6f0-7208ee93029b"
			traceId="#[correlationId]" stage="START"
			apiName='#[p("secure::api.name")]' message="Started Processing"
			flowName="MS Heartbeat Flow" env='#[p("mule.env")]'
			config-ref="TGIF_Logger_Config" startTime="#[vars.startTime]" />
		<flow-ref doc:name="get-access-token"
			doc:id="8275a8b9-d447-4637-8cd5-652c6460a3ce" name="get-access-token" />
		<choice doc:name="Check if access token valid"
			doc:id="e6b21586-3252-48dc-95df-0983845d48ec">
			<when expression="#[vars.reqAccessToken == vars.accessToken]">
				<ee:transform doc:name="Create Success Response"
					doc:id="0fca7d5a-82cf-4925-bcb5-3834e1faf728">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	msheartbeat: {
		result: {
			status: "success"
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<module-logger:console-logging
					doc:name="Success" doc:id="78d33720-f1b5-4567-b323-44e7370627eb"
					config-ref="TGIF_Logger_Config" traceId="#[correlationId]"
					stage="COMPLETED" apiName='#[p("secure::api.name")]'
					message="Process Completed" flowName="MS Heartbeat Flow"
					env='#[p("mule.env")]' startTime="#[vars.startTime]" />
			</when>
			<otherwise>
				<ee:transform doc:name="Create Failure Response"
					doc:id="04752095-0b05-4680-a2f3-4502f3c29456">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	result: {
		status: "failure",
		message: "Invalid access token"
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<module-logger:console-logging
					doc:name="Failed" doc:id="2124bcd0-4b3a-488b-bfe9-f927135ed4d4"
					config-ref="TGIF_Logger_Config" traceId="#[correlationId]"
					stage="COMPLETED" apiName='#[p("secure::api.name")]'
					message="Invalid Access Token" flowName="MS Heartbeat Flow"
					env='#[p("mule.env")]' startTime="#[vars.startTime]" />
			</otherwise>
		</choice>
	</flow>

	<flow name="ping-ip-addess-flow"
		doc:id="ac4813e9-3497-409c-8210-397551f48da4">
		<set-variable value="#[now()]" doc:name="startTime"
			doc:id="7ce347de-eed5-4415-b00e-e1924c5dfdb0"
			variableName="startTime" />
		<module-logger:console-logging
			doc:name="Start" doc:id="2487796d-bbab-4b2c-bea9-0ccad41e293d"
			traceId="#[correlationId]" stage="START"
			apiName='#[p("secure::api.name")]' message="Started Processing"
			flowName="Ping IP Address Flow" env='#[p("mule.env")]'
			config-ref="TGIF_Logger_Config" startTime="#[vars.startTime]" />
		<flow-ref doc:name="get-access-token"
			doc:id="da274a5e-6c3d-481e-9a1c-883ab3676136" name="get-access-token" />
		<choice doc:name="Check if access token valid"
			doc:id="4ded1406-22dd-48a8-b2a3-57e16addd92e">
			<when expression="#[vars.reqAccessToken == vars.accessToken]">
				<ee:transform doc:name="Save Request Details"
					doc:id="cfe623dc-1f35-4acf-9e49-4bdcfc42db7f">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="reqDetails"><![CDATA[%dw 2.0
output application/json
---
{
	ipAddress: attributes.queryParams.IPAddress,
	port: attributes.queryParams.Port
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="INFO: Request Details"
					doc:id="a27b7755-33cc-406a-9024-846afa5adfe4"
					message="Request Details #[vars.reqDetails]" />
				<java:invoke-static doc:name="Ping Server"
					doc:id="f69dc9aa-5316-49be-bae2-739cd28cbb5d"
					class="com.api.tgif.mobilepos.util.CommonUtil"
					method="pingServer(java.lang.String, java.lang.String)">
					<java:args><![CDATA[#[{
	ipAddress: vars.reqDetails.ipAddess,
	port: vars.ipAddess.port
}]]]></java:args>
				</java:invoke-static>
				<choice doc:name="Ping Success?"
					doc:id="67b9b672-aeff-4e09-9ab8-ce21c973ec21">
					<when expression='#[payload == "Host is reachable"]'>
						<ee:transform doc:name="Create Success Response"
							doc:id="26c2924f-dcd2-4af4-994e-6bdf0f5d0e93">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	result: {
		status: "success",
		message: "Host is reachable"
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<module-logger:console-logging
							doc:name="Success" doc:id="8b0ea29c-5840-4c34-bb81-7a4676b6806b"
							config-ref="TGIF_Logger_Config" traceId="#[correlationId]"
							stage="COMPLETED" apiName='#[p("secure::api.name")]'
							flowName="Ping IP Address Flow" message="Host is reachable"
							startTime="#[vars.startTime]" env='#[p("mule.env")]' />
					</when>
					<otherwise>
						<ee:transform doc:name="Create Failure Response"
							doc:id="989efa3c-e00c-4b8b-8bf7-55b77ba3ffae">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	result: {
		status: "failure",
		message: "Host is not reachable"
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<module-logger:console-logging
							doc:name="Failed" doc:id="31af0760-6474-4f44-b109-a7a89f5e9505"
							config-ref="TGIF_Logger_Config" traceId="#[correlationId]"
							stage="COMPLETED" apiName='#[p("secure::api.name")]'
							flowName="Ping IP Address Flow" message="Host is not reachable"
							startTime="#[vars.startTime]" env='#[p("mule.env")]' />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<ee:transform doc:name="Create Failure Response"
					doc:id="631db2b0-d20a-4926-89bd-09698b010402">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	result: {
		status: "failure",
		message: "Invalid access token"
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<module-logger:console-logging
					doc:name="Failed" doc:id="d79c06e3-69dd-43bb-83a4-d4c6c452edfe"
					config-ref="TGIF_Logger_Config" traceId="#[correlationId]"
					stage="COMPLETED" apiName='#[p("secure::api.name")]'
					message="Invalid Access Token" flowName="Ping IP Address Flow"
					env='#[p("mule.env")]' startTime="#[vars.startTime]" />
			</otherwise>
		</choice>

	</flow>
	<flow name="create-check-flow"
		doc:id="e4418744-2ac3-4758-b54d-72de9812ef5a">
		<set-variable value="#[now()]" doc:name="startTime"
			doc:id="98eaed87-4104-4552-9be0-fad36626dab8"
			variableName="startTime" />
		<module-logger:console-logging
			doc:name="Start" doc:id="0d36658b-4e75-438c-91d8-fcf11b4e6b95"
			traceId="#[correlationId]" stage="START"
			apiName='#[p("secure::api.name")]' message="Started Processing"
			flowName="Create Check Flow" env='#[p("mule.env")]'
			config-ref="TGIF_Logger_Config" startTime="#[vars.startTime]" />
		<flow-ref doc:name="get-access-token"
			doc:id="27360d2e-5861-4b2a-bab7-d84d907e6922" name="get-access-token" />
		<choice doc:name="Check if access token valid"
			doc:id="6fe0cfcd-8170-47cd-b3b6-e44ff7274bb6">
			<when expression="#[vars.reqAccessToken == vars.accessToken]">
				<ee:transform doc:name="Initial Payload"
					doc:id="3ea97334-c097-42ae-9e09-9b6029629e26">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="initialPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
						<ee:set-variable variableName="storeId"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.StoreID]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable
					value="#[output application/json ---&#10;{&#10;	methodName: 'CreateCheck - Initial Payload',&#10;	storeId: if(vars.storeId != null) vars.storeId else vars.vrStoreId,&#10;	checkNumber: 'Null',&#10;	checkSequence: 'Null',&#10;	employeeNumber: 'Null',&#10;	tableNumber: 'Null',&#10;	status: '1',&#10;	message: vars.initialPayload&#10;}]"
					doc:name="logData" doc:id="212719cb-9a90-4da6-8dfa-609ccf0cbfc4"
					variableName="logData" />
				<flow-ref doc:name="insert-online-ordering-logs"
					doc:id="140c0e27-ff5e-4f4d-a807-b7b25cf89fd9"
					name="insert-online-ordering-logs" />
				<json:validate-schema
					doc:name="Validate Request schema"
					doc:id="19fed3fb-1fe3-456e-ad0e-55c0f6e5fa26"
					schema="schema/createCheck.json" />
				<ee:transform doc:name="Get Payment Card"
					doc:id="cd73378b-e0e2-45fa-b216-a01092557007">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable
							resource="dwl/create-check/createCheckVars.dwl"
							variableName="createCheckVars" />
						<ee:set-variable variableName="brandId"><![CDATA[%dw 2.0
output application/json
---
if(vars.initialPayload.createcheck.brandId != "NULL") vars.initialPayload.createcheck.brandId else 1]]></ee:set-variable>
						<ee:set-variable variableName="paymentCardType"><![CDATA[%dw 2.0
output application/json
import java!com::api::tgif::mobilepos::util::CommonUtil
---
using(cardType = payload.createcheck.payment.paymentCardType)if(cardType != null and !(isEmpty(cardType)) ) CommonUtil::getPaymentCard(p("secure::key"),cardType)
else ""]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="get-tender-media-details"
					doc:id="57841997-68fa-49fa-ac0b-27e251081b08"
					name="get-tender-media-details" />
				<flow-ref doc:name="get-delivery-partner-orders"
					doc:id="18998350-9f5d-45eb-a2ee-5563535f524b"
					name="get-delivery-partner-orders" />
				<flow-ref doc:name="get-vr-details"
					doc:id="2cf4aefb-4ff3-4d99-bc05-7eece5a55ecb" name="get-vr-details" />
				<db:stored-procedure
					doc:name="Get Tender Media Details"
					doc:id="5b1987f1-b282-4e64-a150-e6b14d5b83cd"
					config-ref="Database_Config_Mule_Interface" target="tenderDetails">
					<reconnect
						frequency="${secure::database.reconnect.frequency}"
						count="${secure::database.reconnect.count}" />
					<db:sql><![CDATA[{call prc_get_tender_media_details(:commission_type, :card_type, :fulfillment_type, :brand_id)}]]></db:sql>
					<db:input-parameters><![CDATA[#[{
	commission_type: vars.createCheckVars.commissionType,
	card_type: vars.paymentCardType,
	fulfillment_type: vars.createCheckVars.fullfillmentType default "Delivery",
	brand_id: if(vars.brandId != null and vars.brandId != "NULL") vars.brandId as Number else null

}]]]></db:input-parameters>
					<db:output-parameters>
						<db:output-parameter key="employee_number"
							type="NVARCHAR" />
						<db:output-parameter key="revenue_center_id"
							type="INTEGER" />
					</db:output-parameters>
				</db:stored-procedure>
				<ee:transform doc:name="tenderId"
					doc:id="15e7acf7-25eb-40b7-a17d-4c3649a49682">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable
							resource="dwl/create-check/tender-id.dwl" variableName="tenderId" />
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="fullfillmentOrder"
					doc:id="2a98f346-e4aa-4ea2-ab0f-752bf4af3dec">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="fullfillmentOrder"><![CDATA[%dw 2.0
output application/json
---
using ( empObjNum = vars.tenderId.employeeObjectNum ) if ( empObjNum== "98008" and empObjNum == "96010" and empObjNum == "96011" and empObjNum == "96012" ) "Pickup" else "Delivery"]]></ee:set-variable>
						<ee:set-variable variableName="logData"><![CDATA[%dw 2.0
output application/json
---
{
	methodName: 'CreateCheck - Tender ID',
	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,
	checkNumber: 'Null',
	checkSequence: 'Null',
	employeeNumber: 'Null',
	tableNumber: 'Null',
	status: '1',
	message: vars.tenderId
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="insert-online-ordering-logs"
					doc:id="ff3d6fa2-212a-483a-91b9-bdb889f72294"
					name="insert-online-ordering-logs" />
				<choice doc:name="Check Delivery Partner"
					doc:id="d8ea47ea-d697-4167-9599-fef7e0d44b58">
					<when
						expression='#[using(subject = vars.tenderId.messageSubject) subject != "Grub Hub Delivery" and subject != "Uber Eats Delivery" and subject != "Postmates Delivery" and subject != "Door Dash Delivery"]'>
						<flow-ref
							doc:name="check-delivery-partners-for-duplicate-orders"
							doc:id="a3036852-7c63-4c52-8cfa-ddc4149e2285"
							name="check-delivery-partners-for-duplicate-orders" />
					</when>
					<otherwise>
						<flow-ref doc:name="create-process-sub-flow"
							doc:id="3343a85a-9080-489c-b24f-9bda23d77bc2"
							name="create-process-sub-flow" />
					</otherwise>
				</choice>

			</when>
			<otherwise>
				<ee:transform doc:name="Create Failure Response"
					doc:id="9bea6d18-7071-4837-bf8a-d12c5bb55b19">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	createcheck: {
		result: {
			status: "failure",
			message: "Invalid access token"
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<module-logger:console-logging
					doc:name="Failed" doc:id="8bf5a137-d7e6-4054-b2e7-26790d2f00d2"
					config-ref="TGIF_Logger_Config" traceId="#[correlationId]"
					stage="COMPLETED" apiName='#[p("secure::api.name")]'
					message="Invalid Access Token" flowName="Calculate Totals Flow"
					env='#[p("mule.env")]' startTime="#[vars.startTime]" />
			</otherwise>
		</choice>
		<error-handler>
			<on-error-continue enableNotifications="true"
				logException="true" doc:name="On Error Continue"
				doc:id="76ff6f51-91c0-4f8c-bac4-b7524531e603"
				type="HTTP:CONNECTIVITY">
				<error-handler-plugin:on-error
					doc:name="Process Error"
					doc:id="dbca2836-374a-45e5-81bd-e8b2dc67bd50" target="errorPayload"
					config-ref="Error_Handler_Plugin_Config" />
				<java:invoke-static doc:name="Ping Gateway"
					doc:id="f7ffe13d-a56f-42ed-b291-4767d5c1c87d"
					class="com.api.tgif.mobilepos.util.CommonUtil"
					method="pingGatewayServer(java.lang.String)">
					<java:args><![CDATA[#[{
	ipAddress: vars.storeIpProperties[0].gatewayIp
}]]]></java:args>
				</java:invoke-static>
				<choice doc:name="Choice"
					doc:id="78d3a61e-a245-4fbe-815a-26fe4611cca4">
					<when expression="#[payload]">
						<ee:transform doc:name="Create Failure Response"
							doc:id="d89cd087-92be-4403-87f2-01c451eae808">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"createcheck": {
		"result": {
			"status": "failure",
			"message": "Store server not reachable, able to reach Firewall",
			error: vars.errorPayload
		}
	}
}]]></ee:set-payload>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="emailMessage"><![CDATA[%dw 2.0
output application/json
---
"Store server not reachable, able to reach Firewall " ++ vars.storeId ++ " in CreateCheck method"


]]></ee:set-variable>
								<ee:set-variable variableName="logData"><![CDATA[%dw 2.0
output application/json
---
{
	methodName: 'CreateCheck - Connectivity Error',
	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,
	checkNumber: 'Null',
	checkSequence: 'Null',
	employeeNumber: 'Null',
	tableNumber: 'Null',
	status: '0',
	message: "Store server not reachable, able to reach Firewall"
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</when>
					<otherwise>
						<ee:transform doc:name="Create Failure Response"
							doc:id="72e6f47d-ad25-4b03-9f5f-56f16c29378d">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"createcheck": {
		"result": {
			"status": "failure",
			"message": "Store network unreachable at Firewall",
			error: vars.errorPayload
		}
	}
}]]></ee:set-payload>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="emailMessage"><![CDATA[%dw 2.0
output application/json
---
"Store network unreachable at Firewall " ++ vars.storeId ++ " in CreateCheck method"

]]></ee:set-variable>
								<ee:set-variable variableName="logData"><![CDATA[%dw 2.0
output application/json
---
{
	methodName: 'CreateCheck - Connectivity Error',
	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,
	checkNumber: 'Null',
	checkSequence: 'Null',
	employeeNumber: 'Null',
	tableNumber: 'Null',
	status: '0',
	message: "Store network unreachable at Firewall"
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</otherwise>
				</choice>
				<flow-ref doc:name="send-email-notification"
					doc:id="f733d920-7ee0-4b3f-a958-b0a113199cbb"
					name="send-email-notification" />

				<flow-ref doc:name="insert-online-ordering-logs"
					doc:id="46a3de3c-682c-46c3-ad33-27f267174b11"
					name="insert-online-ordering-logs" />
				<flow-ref
					doc:name="insert-delivery-order-details-failed-order"
					doc:id="8d30c8fd-d090-4cc8-83fc-c232402f5653"
					name="insert-delivery-order-details-failed-order" />
				<module-logger:console-logging
					doc:name="Console logging"
					doc:id="4e063fa1-eb24-4b2f-999a-156b663cf902"
					config-ref="TGIF_Logger_Config" traceId="#[correlationId]"
					stage="EXCEPTION" apiName='#[p("secure::api.name")]'
					message="Processing Failed due to connectivity error"
					flowName="Create Check Flow" env='#[p("mule.env")]'
					startTime="#[vars.startTime]" error="#[error]" />
			</on-error-continue>
			<on-error-continue enableNotifications="true"
				logException="true" doc:name="On Error Continue"
				doc:id="cf5cb7d2-3a22-43ce-a326-2cacc67feef8">
				<error-handler-plugin:on-error
					doc:name="Process Error"
					doc:id="09e20c79-ed27-47fa-90c7-a67784be0872" target="errorPayload"
					config-ref="Error_Handler_Plugin_Config" />
				<set-variable
					value='#[output application/json --- "Following error occurred in Create Check method for Store " ++ vars.storeId default "" ++ "=" ++ write(error, "application/json")]'
					doc:name="emailMessage"
					doc:id="e83d36a1-a29f-4154-8cc7-ee4d21033626"
					variableName="emailMessage" />
				<flow-ref doc:name="send-email-notification"
					doc:id="ab8a7543-4495-4c2a-a456-8d9990738347"
					name="send-email-notification" />
				<set-payload
					value='#[output application/json&#10;---&#10;{&#10;	createcheck: {&#10;		result: {&#10;			status: "Failure",&#10;			message: error.description,&#10;			error: vars.errorPayload&#10;		}&#10;	}&#10;}]'
					doc:name="Create Failure Response"
					doc:id="88c6d5ca-07be-4bb6-8e87-bc949dfa545f" />
				<set-variable
					value="#[output application/json&#10;---&#10;{&#10;	methodName: 'CreateCheck  - Error',&#10;	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,&#10;	checkNumber: 'Null',&#10;	checkSequence: 'Null',&#10;	employeeNumber: 'Null',&#10;	tableNumber: 'Null',&#10;	status: '0',&#10;	message: error.description&#10;}]"
					doc:name="logData" doc:id="015b42f7-4148-496b-8846-fa1392b93486"
					variableName="logData" />
				<flow-ref doc:name="insert-online-ordering-logs"
					doc:id="6f61bfff-248d-486c-a3e8-0b4a6afaf9a7"
					name="insert-online-ordering-logs" />
				<module-logger:console-logging
					doc:name="Console logging"
					doc:id="9c471a9c-72d8-466f-83aa-37894caa4c86"
					config-ref="TGIF_Logger_Config" traceId="#[correlationId]"
					stage="EXCEPTION" apiName='#[p("secure::api.name")]'
					message="Processing Failed due to error"
					flowName="Create Check Flow" env='#[p("mule.env")]'
					startTime="#[vars.startTime]" error="#[error]" />

			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="calculate-tax-and-total-flow"
		doc:id="506d3351-e46c-4706-b6a8-677b9bbf352a">
		<set-variable value="#[now()]" doc:name="startTime"
			doc:id="34d4b4a4-5222-4d67-b14e-511a9e0c7369"
			variableName="startTime" />
		<module-logger:console-logging
			doc:name="Start" doc:id="1e1d7a81-fdf8-4b4c-8a57-ce68fe6907a3"
			traceId="#[correlationId]" stage="START"
			apiName='#[p("secure::api.name")]' message="Started Processing"
			flowName="Calculate Taxt and Totals Flow" env='#[p("mule.env")]'
			config-ref="TGIF_Logger_Config" startTime="#[vars.startTime]" />
		<flow-ref doc:name="get-access-token"
			doc:id="76a5d86f-e805-4f54-aa4d-2e0eabb11c79" name="get-access-token" />
		<choice doc:name="Check if access token valid"
			doc:id="3effe04c-b008-45d5-831f-265c9d49cbae">
			<when expression="#[vars.reqAccessToken == vars.accessToken]">
				<ee:transform doc:name="Initial Payload"
					doc:id="75e05d9d-09f3-4fbd-9d39-a5fc00e2c426">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="initialPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
						<ee:set-variable variableName="storeId"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.StoreID]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable
					value="#[output application/json&#10;---&#10;{&#10;	methodName: 'CalculateTaxAndTotal - Initial Payload',&#10;	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,&#10;	checkNumber: 'Null',&#10;	checkSequence: 'Null',&#10;	employeeNumber: 'Null',&#10;	tableNumber: 'Null',&#10;	status: '1',&#10;	message: vars.initialPayload&#10;}]"
					doc:name="logData" doc:id="8d731c8a-83ab-4c2e-a985-ec7aa780f1d0"
					variableName="logData" />
				<flow-ref doc:name="insert-online-ordering-logs"
					doc:id="6c60a661-cfd8-4079-a66c-456e7ec6594f"
					name="insert-online-ordering-logs" />
				<json:validate-schema
					doc:name="Validate Request schema"
					doc:id="b00e2b82-e114-4e37-af90-50c802d32fcb"
					schema="schema/caluclateTaxAndTotalRequest.json">
				</json:validate-schema>
				<db:stored-procedure
					doc:name="Get Tender Media Details"
					doc:id="50ba39b2-74d4-4ae4-ab9c-eceaae1c953a"
					config-ref="Database_Config_Mule_Interface" target="tenderDetails">
					<reconnect
						frequency="${secure::database.reconnect.frequency}"
						count="${secure::database.reconnect.count}" />
					<db:sql><![CDATA[{call prc_get_tender_media_details(:commission_type, :card_type, :fulfillment_type, :brand_id)}]]></db:sql>
					<db:input-parameters><![CDATA[#[{
	commission_type: null,
	card_type: vars.authSystem,
	fulfillment_type: "Delivery",
	brand_id: if(vars.brandId != null and vars.brandId != "NULL") vars.brandId as Number else null

}]]]></db:input-parameters>
					<db:output-parameters>
						<db:output-parameter key="employee_number"
							type="NVARCHAR" />
						<db:output-parameter key="revenue_center_id"
							type="INTEGER" />
					</db:output-parameters>
				</db:stored-procedure>
				<ee:transform doc:name="tenderId"
					doc:id="732480ca-bac7-446e-9fb5-040578e7eb09">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable
							resource="dwl\calculate-tax-and-total\tender-id.dwl"
							variableName="tenderId" />
						<ee:set-variable variableName="authSystem"><![CDATA[%dw 2.0
output application/json
---
payload.calculateTaxAndTotal.authenticationSystem]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable
					value="#[output application/json&#10;&#10;---&#10;&#10;{&#10;&#10;	methodName: 'CalculateTaxAndTotal - Tender ID',&#10;&#10;	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,&#10;&#10;	checkNumber: 'Null',&#10;&#10;	checkSequence: 'Null',&#10;&#10;	employeeNumber: 'Null',&#10;&#10;	tableNumber: 'Null',&#10;&#10;	status: '1',&#10;&#10;	message: vars.tenderId&#10;&#10;}]"
					doc:name="logData" doc:id="6dd19ab6-faf6-4a25-97d3-4ee248d4f15a"
					variableName="logData" />
				<flow-ref doc:name="insert-online-ordering-logs"
					doc:id="8a36d445-57ac-4149-b737-212a8a51934d"
					name="insert-online-ordering-logs" />
				<flow-ref doc:name="get-store-ip-properties"
					doc:id="058d401e-aab4-483f-aa72-0c2140e0cb41"
					name="get-store-ip-properties" />
				<flow-ref doc:name="call-pos-api-for-tax-and-total"
					doc:id="219b2c6b-5ed1-49dc-9e82-aa6ceb7d4ca4"
					name="call-pos-api-for-tax-and-total" />
			</when>
			<otherwise>
				<ee:transform doc:name="Create Failure Response"
					doc:id="4ecd798a-9234-40d5-97b0-f86c7c621520">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	calculatetaxandtotal: {
		result: {
			status: "failure",
			message: "Invalid access token"
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<module-logger:console-logging
					doc:name="Failed" doc:id="1a2f26db-b2bf-48ee-9304-5c231e09fd93"
					config-ref="TGIF_Logger_Config" traceId="#[correlationId]"
					stage="COMPLETED" apiName='#[p("secure::api.name")]'
					message="Invalid Access Token"
					flowName="Calculate Tax and Totals Flow" env='#[p("mule.env")]'
					startTime="#[vars.startTime]" />
			</otherwise>
		</choice>
		<error-handler>
			<on-error-continue enableNotifications="true"
				logException="true" doc:name="On Error Continue"
				doc:id="1c51311b-aac4-4dfe-8785-5e6514a30f9f"
				type="HTTP:CONNECTIVITY">
				<error-handler-plugin:on-error
					doc:name="Process Error"
					doc:id="323668bf-064f-4464-8ef0-f870117dcc2b"
					config-ref="Error_Handler_Plugin_Config" target="errorPayload" />
				<java:invoke-static doc:name="Ping Gateway"
					doc:id="2b565535-6a38-44e2-98ce-766bd65a29a6"
					class="com.api.tgif.mobilepos.util.CommonUtil"
					method="pingGatewayServer(java.lang.String)">
					<java:args><![CDATA[#[{
	ipAddress: vars.storeIpProperties[0].gatewayIp
}]]]></java:args>
				</java:invoke-static>
				<choice doc:name="Choice"
					doc:id="6a941289-3c8d-4e14-b246-cc7dd3798f9d">
					<when expression="#[payload]">
						<ee:transform doc:name="Create Failure Response"
							doc:id="c7c6e037-98b0-4c35-96b5-ecbbd0d19c47">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"calculateTaxAndTotal": {
		"result": {
			"status": "failure",
			"message": "Store server not reachable, able to reach Firewall",
			error: vars.errorPayload
		}
	}
}]]></ee:set-payload>
							</ee:message>
							<ee:variables>
							</ee:variables>
						</ee:transform>
					</when>
					<otherwise>
						<ee:transform doc:name="Create Failure Response"
							doc:id="b50641d6-4376-445c-8eed-2675373a7b54">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"calculateTaxAndTotal": {
		"result": {
			"status": "failure",
			"message": "Store network unreachable at Firewall",
			error: vars.errorPayload
		}
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
				<set-variable
					value="#[output application/json&#10;---&#10;{&#10;	methodName: 'CalculateTaxAndTotal',&#10;	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,&#10;	checkNumber: 'Null',&#10;	checkSequence: 'Null',&#10;	employeeNumber: 'Null',&#10;	tableNumber: 'Null',&#10;	status: '0',&#10;	message: payload&#10;}]"
					doc:name="logData" doc:id="349ed6b2-efa5-4f6f-bc39-3d44c39f5215"
					variableName="logData" />
				<flow-ref doc:name="insert-online-ordering-logs"
					doc:id="000b39ea-86df-4ef7-8585-1193fcdb4c27"
					name="insert-online-ordering-logs" />
				<module-logger:console-logging
					doc:name="Failed" doc:id="0648c0f7-562e-4810-a211-fc3ca4f66557"
					config-ref="TGIF_Logger_Config"
					message="Processing Failed due to connectivity error"
					stage="EXCEPTION" traceId="#[correlationId]"
					flowName="Calculate Tax and Totals Flow"
					apiName='#[p("secure::api.name")]' env='#[p("mule.env")]'
					startTime="#[vars.startTime]" error="#[error]" />
			</on-error-continue>
			<on-error-continue enableNotifications="true"
				logException="true" doc:name="On Error Continue"
				doc:id="29705788-19cd-45e8-a838-051f674447ef">
				<error-handler-plugin:on-error
					doc:name="Process Error"
					doc:id="0de54435-05c5-4c1a-b7a5-8521aa46d9e7"
					config-ref="Error_Handler_Plugin_Config" target="errorPayload" />
				<set-variable
					value='#[output application/json --- "Following error occurred in CalculateTaxAndTotal method for Store " ++ vars.storeId default "" ++ "=" ++ write(error, "application/json")]'
					doc:name="emailMessage"
					doc:id="12e56814-d59d-4bd7-8287-a092217c9f53"
					variableName="emailMessage" />
				<flow-ref doc:name="send-email-notification"
					doc:id="934d7cab-1418-4622-8947-dfded90777b4"
					name="send-email-notification" />
				<set-payload
					value='#[output application/json&#10;---&#10;{&#10;	calculateTaxAndTotal: {&#10;		result: {&#10;			status: "Failure",&#10;			message: error,&#10;			error: vars.errorPayload&#10;		}&#10;	}&#10;}]'
					doc:name="Create Failure Response"
					doc:id="755d4971-1efa-4d16-8aac-1351f6764db8" />
				<set-variable
					value="#[output application/json&#10;---&#10;{&#10;	methodName: 'CalculateTaxAndTotal',&#10;	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,&#10;	checkNumber: 'Null',&#10;	checkSequence: 'Null',&#10;	employeeNumber: 'Null',&#10;	tableNumber: 'Null',&#10;	status: '0',&#10;	message: error.description&#10;}]"
					doc:name="logData" doc:id="2c8fa8bf-f6d8-46c8-8c67-eb6fe4dacfcd"
					variableName="logData" />
				<flow-ref doc:name="insert-online-ordering-logs"
					doc:id="6e01941e-07fc-4733-aaf9-e6cf3dd7d6ae"
					name="insert-online-ordering-logs" />
				<module-logger:console-logging
					doc:name="Failed" doc:id="5558e1ee-fe01-4199-aad0-1da0b070eb4b"
					config-ref="TGIF_Logger_Config"
					message="Processing Failed due to error" stage="EXCEPTION"
					traceId="#[correlationId]" flowName="Calculate Tax and Totals Flow"
					apiName='#[p("secure::api.name")]' env='#[p("mule.env")]'
					startTime="#[vars.startTime]" error="#[error]" />
			</on-error-continue>

		</error-handler>
	</flow>
	<flow name="calculate-total-flow"
		doc:id="ad3f63d9-54cf-4671-9eb5-a2458ff6976a">
		<set-variable value='#[now()]' doc:name="startTime"
			doc:id="c0119c60-5dc1-4aec-8c98-1f5c40eec95e"
			variableName="startTime" />
		<module-logger:console-logging
			doc:name="Start" doc:id="7abe4f72-b6f5-426f-a272-b90d1f887a41"
			traceId="#[correlationId]" stage="START"
			apiName='#[p("secure::api.name")]' message="Started Processing"
			flowName="Calculate Totals Flow" env='#[p("mule.env")]'
			config-ref="TGIF_Logger_Config" startTime="#[vars.startTime]" />
		<flow-ref doc:name="get-access-token"
			doc:id="0b9225bf-847f-48bd-a5ad-b8421449eb44" name="get-access-token" />
		<choice doc:name="Check if access token valid"
			doc:id="c57765de-0b38-43dc-85ab-198c1a0f1fdd">
			<when expression="#[vars.reqAccessToken == vars.accessToken]">
				<ee:transform doc:name="Initial Payload"
					doc:id="c01b5a3f-ce93-46de-9924-a6e3329f877d">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="initialPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
						<ee:set-variable variableName="storeId"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.StoreID]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable
					value="#[output application/json&#10;---&#10;{&#10;	methodName: 'CalculateTotals - Initial Payload',&#10;	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,&#10;	checkNumber: 'Null',&#10;	checkSequence: 'Null',&#10;	employeeNumber: 'Null',&#10;	tableNumber: 'Null',&#10;	status: '1',&#10;	message: vars.initialPayload&#10;}]"
					doc:name="logData" doc:id="07a46914-2035-4b34-8c79-8efb244c8aed"
					variableName="logData" />
				<flow-ref doc:name="insert-online-ordering-logs"
					doc:id="c9f79ef3-5313-40c2-ab92-d5f6eedbbb45"
					name="insert-online-ordering-logs" />
				<json:validate-schema
					doc:name="Validate Request schema"
					doc:id="1600af8f-e27e-476c-90d0-be64a7b0a6c1"
					schema="schema/caluclateTotalRequest.json">
				</json:validate-schema>
				<db:stored-procedure
					doc:name="Get Tender Media Details"
					doc:id="50c0bd53-8b23-4e72-bf70-db9c00432e00"
					config-ref="Database_Config_Mule_Interface" target="tenderDetails">
					<reconnect
						frequency="${secure::database.reconnect.frequency}"
						count="${secure::database.reconnect.count}" />
					<db:sql><![CDATA[{call prc_get_tender_media_details(:commission_type, :card_type, :fulfillment_type, :brand_id)}]]></db:sql>
					<db:input-parameters><![CDATA[#[{
	commission_type: null,
	card_type: vars.authSystem,
	fulfillment_type: "Delivery",
	brand_id: if(vars.brandId != null and vars.brandId != "NULL") vars.brandId as Number else null
}]]]></db:input-parameters>
					<db:output-parameters>
						<db:output-parameter key="employee_number"
							type="NVARCHAR" />
						<db:output-parameter key="revenue_center_id"
							type="INTEGER" />
					</db:output-parameters>
				</db:stored-procedure>
				<ee:transform doc:name="tenderId"
					doc:id="03cc88e5-cd50-499e-9715-016ecb346750">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="authSystem"><![CDATA[%dw 2.0
output application/json
---
payload.calculatetotals.authenticationSystem]]></ee:set-variable>
						<ee:set-variable
							resource="dwl\calculate-totals\tender-id.dwl"
							variableName="tenderId" />
					</ee:variables>
				</ee:transform>
				<set-variable
					value="#[output application/json&#10;---&#10;{&#10;	methodName: 'CalculateTotals - Tender ID',&#10;	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,&#10;	checkNumber: 'Null',&#10;	checkSequence: 'Null',&#10;	employeeNumber: 'Null',&#10;	tableNumber: 'Null',&#10;	status: '1',&#10;	message: vars.tenderId&#10;}]"
					doc:name="logData" doc:id="cef249c3-cf62-4152-8223-01228bfdee9e"
					variableName="logData" />
				<flow-ref doc:name="insert-online-ordering-logs"
					doc:id="d4fdf850-23d3-441a-bf81-c846ec6b44da"
					name="insert-online-ordering-logs" />
				<flow-ref doc:name="get-store-ip-properties"
					doc:id="30bad4d9-214e-4212-970a-cbc89cf7a780"
					name="get-store-ip-properties" />
				<choice doc:name="IP Address is not null"
					doc:id="c8532eb6-5b48-4621-9e5b-894b70007f07">
					<when expression="#[vars.storeIpProperties.serverIp != null]">
						<flow-ref doc:name='call-pos-api-tax-calculation'
							doc:id="4eba4ed6-8e48-4fa0-8528-155c20dd9207"
							name="call-pos-api-tax-calculation" />
					</when>
					<otherwise>
						<ee:transform doc:name="Create Failure Response"
							doc:id="05a5d1a4-7c58-4ad9-8fcb-e953e23d835e">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	calculatetotals: {
		result: {
			status: "failure",
			message: "Store server not reachable, able to reach Firewall"
		}
	}
}]]></ee:set-payload>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="emailMessage"><![CDATA[%dw 2.0
output application/json
---
'Store Number ' ++ vars.storeId ++ ' not setup in mulesoft for online ordering']]></ee:set-variable>
								<ee:set-variable variableName="logData"><![CDATA[%dw 2.0
output application/json
---
{
	methodName: 'CalculateTotals - IP Address is null',
	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,
	checkNumber: 'Null',
	checkSequence: 'Null',
	employeeNumber: 'Null',
	tableNumber: 'Null',
	status: '0',
	message: "Store server not reachable, able to reach Firewall"
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>

						<flow-ref doc:name="send-email-notification"
							doc:id="33a66e56-9bcb-44e3-8b40-fa31722400f8"
							name="send-email-notification" />
						<flow-ref doc:name="insert-online-ordering-logs"
							doc:id="5113608c-523a-4b6e-9253-92a67a2f714c"
							name="insert-online-ordering-logs" />
						<module-logger:console-logging
							doc:name="Failed" doc:id="6f062bec-9db8-456f-82e0-0988d0eac726"
							config-ref="TGIF_Logger_Config" traceId="#[correlationId]"
							stage="COMPLETED" apiName='#[p("secure::api.name")]'
							message="IP Addess is null" flowName="Calculate Totals Flow"
							env='#[p("mule.env")]' startTime="#[vars.startTime]" />
					</otherwise>
				</choice>

			</when>
			<otherwise>
				<ee:transform doc:name="Create Failure Response"
					doc:id="16b75471-852b-4bcc-98b3-e137a725f22f">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	calculatetotals: {
		result: {
			status: "failure",
			message: "Invalid access token"
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<module-logger:console-logging
					doc:name="Failed" doc:id="dc8cdbd9-9e78-4c8b-8662-95d3dda1fda7"
					config-ref="TGIF_Logger_Config" traceId="#[correlationId]"
					stage="COMPLETED" apiName='#[p("secure::api.name")]'
					message="Invalid Access Token" flowName="Calculate Totals Flow"
					env='#[p("mule.env")]' startTime="#[vars.startTime]" />
			</otherwise>
		</choice>
		<error-handler>
			<on-error-continue enableNotifications="true"
				logException="true" doc:name="On Error Continue"
				doc:id="d889a007-b6f6-482e-bb61-28c91549cb3f"
				type="HTTP:CONNECTIVITY">
				<error-handler-plugin:on-error
					doc:name="Process Error"
					doc:id="1b960fa2-0a77-42cd-8715-31cbfc436fa2"
					config-ref="Error_Handler_Plugin_Config" target="errorPayload" />
				<java:invoke-static doc:name="Ping Gateway"
					doc:id="e0cf8623-df47-48fd-a158-18013b64d5c4"
					class="com.api.tgif.mobilepos.util.CommonUtil"
					method="pingGatewayServer(java.lang.String)">
					<java:args><![CDATA[#[{
	ipAddress: vars.storeIpProperties[0].gatewayIp
}]]]></java:args>
				</java:invoke-static>
				<choice doc:name="Choice"
					doc:id="59ba17ea-d220-47a8-abad-689897cb560a">
					<when expression="#[payload]">
						<ee:transform doc:name="Create Failure Response"
							doc:id="4e8bef6e-eb33-41bf-9e09-ae36bb207ca2">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"calculatetotals": {
		"result": {
			"status": "failure",
			"message": "Unable to reach store server",
			error: vars.errorPayload
		}
	}
}]]></ee:set-payload>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="emailMessage"><![CDATA[%dw 2.0
output application/json
---
"Store Network reachable and store Server unreachable for store " ++ vars.storeId ++ " in CalculateTotals method"
]]></ee:set-variable>
								<ee:set-variable variableName="logData"><![CDATA[%dw 2.0
output application/json
---
{
	methodName: 'CalculateTotals',
	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,
	checkNumber: 'Null',
	checkSequence: 'Null',
	employeeNumber: 'Null',
	tableNumber: 'Null',
	status: '0',
	message: "Unable to reach store server"
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</when>
					<otherwise>
						<ee:transform doc:name="Create Failure Response"
							doc:id="2a503a10-3214-4d71-93a7-8c8adb73931e">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"calculatetotals": {
		"result": {
			"status": "failure",
			"message": "Unable to reach store network",
			error: vars.errorPayload
		}
	}
}]]></ee:set-payload>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="emailMessage"><![CDATA[%dw 2.0
output application/json
---
"Store Network unreachable for store " ++ vars.storeId ++ " in CalculateTotals method"]]></ee:set-variable>
								<ee:set-variable variableName="logData"><![CDATA[%dw 2.0
output application/json
---
{
	methodName: 'CalculateTotals',
	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,
	checkNumber: 'Null',
	checkSequence: 'Null',
	employeeNumber: 'Null',
	tableNumber: 'Null',
	status: '0',
	message: "Unable to reach store network"
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</otherwise>
				</choice>
				<flow-ref doc:name="send-email-notification"
					doc:id="7fc01145-8f37-44bd-8082-c25c53dcd418"
					name="send-email-notification" />
				<flow-ref doc:name="insert-online-ordering-logs"
					doc:id="840a6558-e3fc-4a28-aef5-20591be0fa54"
					name="insert-online-ordering-logs" />
				<module-logger:console-logging
					doc:name="Failed" doc:id="f1dd5f82-a7fd-49fa-bcad-0d4a52f9c504"
					config-ref="TGIF_Logger_Config" traceId="#[correlationId]"
					stage="EXCEPTION" apiName='#[p("secure::api.name")]'
					message="Processing Failed due to connectivity error"
					flowName="Calculate Totals Flow" env='#[p("mule.env")]'
					error="#[error]" startTime="#[vars.startTime]" />
			</on-error-continue>
			<on-error-continue enableNotifications="true"
				logException="true" doc:name="On Error Continue"
				doc:id="c8261786-fa72-46ad-8332-8b2fbe51cc96">
				<error-handler-plugin:on-error
					doc:name="Process Error"
					doc:id="c7510520-ad5e-47d2-ab29-dc1c1d59d3e9"
					config-ref="Error_Handler_Plugin_Config" target="errorPayload" />
				<set-variable
					value='#[output application/json --- "Following error occurred in Calculate Totals method for Store " ++ vars.storeId default "" ++ "=" ++ write(error, "application/json")]'
					doc:name="emailMessage"
					doc:id="0e9ff840-0e2a-433a-a3e6-8d7abe5c6d8c"
					variableName="emailMessage" />
				<flow-ref doc:name="send-email-notification"
					doc:id="02a8cbe1-395f-4e4e-ace2-33d96c1ea298"
					name="send-email-notification" />
				<set-payload
					value='#[output application/json&#10;---&#10;{&#10;	calculatetotals: {&#10;		result: {&#10;			status: "failure",&#10;			message: error.description,&#10;			error: vars.errorPayload&#10;		}&#10;	}&#10;}]'
					doc:name="Create Failure Response"
					doc:id="9a3c8a97-4eaa-4404-b960-6cedb008d3ae" />
				<set-variable
					value="#[output application/json
&#10;---
&#10;{
&#10;	methodName: 'CalculateTotals',
&#10;	storeId: if ( vars.storeId != null ) vars.storeId else vars.vrStoreId,
&#10;	checkNumber: 'Null',
&#10;	checkSequence: 'Null',
&#10;	employeeNumber: 'Null',
&#10;	tableNumber: 'Null',
&#10;	status: '0',
&#10;	message: error.description
&#10;}]"
					doc:name="logData" doc:id="8d728ad8-fada-4a59-bebe-93e0eb14e258"
					variableName="logData" />
				<flow-ref doc:name="insert-online-ordering-logs"
					doc:id="65fd898c-1069-4c38-8423-9a2382281a5c"
					name="insert-online-ordering-logs" />
				<module-logger:console-logging
					doc:name="Failed" doc:id="93c665a1-1fdc-44e3-a4ce-d395dba17e80"
					config-ref="TGIF_Logger_Config" traceId="#[correlationId]"
					stage="EXCEPTION" apiName='#[p("secure::api.name")]'
					message="Processing Failed due to error"
					flowName="Calculate Totals Flow" env='#[p("mule.env")]'
					error="#[error]" startTime="#[vars.startTime]" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
