src/main/mule/tgif-mobilepos-interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:error-handler-plugin="http://www.mulesoft.org/schema/mule/error-handler-plugin"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/error-handler-plugin http://www.mulesoft.org/schema/mule/error-handler-plugin/current/mule-error-handler-plugin.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="tgif-mobilepos-papi-main">
		<http:listener
			config-ref="tgif-mobilepos-papi-httpListenerConfig" path="/api/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="tgif-mobilepos-papi-config" />
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true">
				<error-handler-plugin:on-error
					doc:name="Process Error"
					doc:id="b3735b0e-9987-412f-886f-3072a5dfc252"
					config-ref="Error_Handler_Plugin_Config" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="tgif-mobilepos-papi-console">
		<http:listener
			config-ref="tgif-mobilepos-papi-httpListenerConfig" path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="tgif-mobilepos-papi-config" />
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true">
				<error-handler-plugin:on-error doc:name="Process Error" doc:id="0f48ea5a-cb07-4910-a86b-ab959ea6c8fd" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow
		name="put:\CalculateTaxAndTotal:application\json:tgif-mobilepos-papi-config">
		<flow-ref doc:name="calculate-tax-and-total-flow"
			doc:id="db7075b0-a488-41f3-8ee1-1f0d79f17e24"
			name="calculate-tax-and-total-flow" />
	</flow>
	<flow name="get:\MSHeartBeat:tgif-mobilepos-papi-config">
		<flow-ref doc:name="ms-heartbeat-flow"
			doc:id="41746657-4c4b-44d8-b215-b86829cc7c42"
			name="ms-heartbeat-flow" />
	</flow>
	<flow
		name="post:\CalculateTotals:application\json:tgif-mobilepos-papi-config">
		<flow-ref doc:name="calculate-total-flow"
			doc:id="05281804-6ef2-4f24-9a08-d6ff0cb7b68c"
			name="calculate-total-flow" />
	</flow>
	<flow
		name="post:\CreateCheck:application\json:tgif-mobilepos-papi-config">
		<flow-ref doc:name="create-check-flow"
			doc:id="0cb8b680-3413-4f3e-8aa3-48be996fd857"
			name="create-check-flow" />
	</flow>
	<flow name="get:\PingIPAddress:tgif-mobilepos-papi-config">
		<flow-ref doc:name="ping-ip-addess-flow"
			doc:id="0e494ef8-99e0-468e-9674-0e38268f1454"
			name="ping-ip-addess-flow" />
	</flow>

</mule>
