src/main/mule/tgif-mobilepos-interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="tgif-mobilepos-papi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="tgif-mobilepos-papi-config" api="tgif-mobilepos-papi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="tgif-mobilepos-papi-main">
        <http:listener config-ref="tgif-mobilepos-papi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="tgif-mobilepos-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="tgif-mobilepos-papi-console">
        <http:listener config-ref="tgif-mobilepos-papi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="tgif-mobilepos-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\calculateTaxAndTotal:application\json:tgif-mobilepos-papi-config">
		<flow-ref doc:name="calculate-tax-and-total-flow" doc:id="e6622906-46f2-4026-8061-1bcaeff1ab2f" name="calculate-tax-and-total-flow"/>
    </flow>
    <flow name="get:\msHeartBeat:tgif-mobilepos-papi-config">
		<flow-ref doc:name="ms-heartbeat-flow" doc:id="7d549350-3090-4963-b40b-d2abf0bd3aee" name="ms-heartbeat-flow"/>
    </flow>
    <flow name="post:\calculateTotals:application\json:tgif-mobilepos-papi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  calculatetotals: {
    result: {
      status: "success",
      message: "success"
    },
    totals: {
      subTotal: "9.90",
      taxTotal: "0.82",
      totalDue: "10.72"
    },
    orderDiscount: {
      discObjectNum: "2224",
      discAmountOrPercent: "5.00"
    },
    menuItems: [
      {
        miObjectNum: "50006",
        miAltItemId: "20008",
        menuQty: 1,
        menuAmount: "\$10.00",
        lineEntry: "0",
        errorMessage: "Menu item or Condiment not found in POS",
        condiments: [
          {
            miObjectNum: "9041004",
            menuQty: 1,
            modCodeId: 2,
            menuAmount: "\$1.49",
            miDiscount: {
              discObjectNum: "2224",
              discAmountOrPercent: "5.00"
            }
          }, 
          {
            miObjectNum: "9041007",
            menuQty: 1,
            modCodeId: 3,
            menuAmount: "\$1.00",
            miDiscount: {
              discObjectNum: "2224",
              discAmountOrPercent: "5.00"
            }
          }
        ],
        miDiscount: {
          discObjectNum: "2224",
          discAmountOrPercent: "5.00"
        }
      }, 
      {
        miObjectNum: "9230102",
        miAltItemId: "20008",
        menuQty: 1,
        menuAmount: "2.79",
        lineEntry: "0",
        errorMessage: "Menu item or Condiment not found in POS",
        condiments: [
          {
            miObjectNum: "9041004",
            menuQty: 1,
            modCodeId: 3,
            menuAmount: "\$1.49",
            miDiscount: {
              discObjectNum: "2224",
              discAmountOrPercent: "5.00"
            }
          }, 
          {
            miObjectNum: "9041007",
            menuQty: 1,
            modCodeId: 4,
            menuAmount: "\$1.00",
            miDiscount: {
              discObjectNum: "2224",
              discAmountOrPercent: "5.00"
            }
          }
        ],
        miDiscount: {
          discObjectNum: "3298",
          discAmountOrPercent: "5.00"
        }
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\createCheck:application\json:tgif-mobilepos-papi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  createcheck: {
    result: {
      status: "success",
      message: "success"
    },
    dayOfBusiness: "2016-07-08T00:00:00",
    check: {
      checkSeq: 232,
      checkId: "3344",
      tableNumber: 204,
      employeeNumber: 52,
      menuItems: [
        {
          miObjectNum: "S21",
          miAltItemId: "20021",
          menuQty: 1,
          menuAmount: "\$10.00",
          lineEntry: "0",
          condiments: [
            {
              miObjectNum: "9041004",
              menuQty: 1,
              modCodeId: 6,
              menuAmount: "\$1.49",
              miDiscount: {
                discObjectNum: "2224",
                discAmountOrPercent: "5.00"
              }
            }, 
            {
              miObjectNum: "9041007",
              menuQty: 1,
              modCodeId: 3,
              menuAmount: "\$1.00",
              miDiscount: {
                discObjectNum: "2224",
                discAmountOrPercent: "5.00"
              }
            }
          ],
          miDiscount: {
            discObjectNum: "2224",
            discAmountOrPercent: "5.00"
          }
        }, 
        {
          miObjectNum: "20005",
          miAltItemId: "20021",
          menuQty: 1,
          menuAmount: "\$10.00",
          lineEntry: "0",
          condiments: [
            {
              miObjectNum: "9041004",
              menuQty: 1,
              modCodeId: 2,
              menuAmount: "\$1.49",
              miDiscount: {
                discObjectNum: "2224",
                discAmountOrPercent: "5.00"
              }
            }, 
            {
              miObjectNum: "9041007",
              menuQty: 1,
              modCodeId: 3,
              menuAmount: "\$1.00",
              miDiscount: {
                discObjectNum: "2224",
                discAmountOrPercent: "5.00"
              }
            }
          ],
          miDiscount: {
            discObjectNum: "2224",
            discAmountOrPercent: "5.00"
          }
        }
      ],
      orderDiscount: {
        discObjectNum: "2224",
        discAmountOrPercent: "5.00"
      },
      otherDiscounts: [
        {
          discName: "SOF Discount",
          discAmount: "11.90-"
        }, 
        {
          discName: "SOF Discount",
          discAmount: "11.90-"
        }
      ],
      payments: {
        paymentReference: "Vantive  token number if credit card.",
        paymentAmount: "\$5.00"
      },
      totals: {
        subTotal: "\$16.29",
        taxTotal: "\$2.00",
        tipTotal: "\$5.00",
        amtPaid: "\$5.00",
        totalDue: "\$18.29"
      },
      checkPrintLines: {
        printLines: [
          "** TGI Friday's #3101**", 
          "QA Lab 3101"
        ]
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\pingIPAddress:tgif-mobilepos-papi-config">
		<flow-ref doc:name="ping-ip-addess-flow" doc:id="c20cd2a5-08d6-4508-b357-877ee33316ac" name="ping-ip-addess-flow"/>
    </flow>
</mule>
